<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<appender name="Async" class="org.apache.log4j.AsyncAppender">
  <param name="Blocking" value="true" />
  <appender-ref ref="Console" />
  <appender-ref ref="File" />
</appender>


<appender name="Console" class="org.apache.log4j.ConsoleAppender">
  <param name="Target" value="System.out" />
  <layout class="org.apache.log4j.PatternLayout">
	<param name="ConversionPattern" value="%-4r [%t] %d %-5p %c %x - %m%n" />
</layout>
</appender>

<appender name="File" class="org.apache.log4j.FileAppender">
  <param name="File" value="${package.basedir}/log/felix.log" />
  <param name="Append" value="true" />
   <layout class="org.apache.log4j.PatternLayout">
	<param name="ConversionPattern" value="%-4r [%t] %d %-5p %c %x - %m%n" />
</layout>
</appender>

<logger name="AUTH"> 
<!-- Print all VoltDB authentication messages -->
  <level value="trace" />
</logger>
<logger name="com.scrippsnetworks.mobile.api"> 
  <level value="debug" />
</logger>

<root>
      <priority value="info" />
      <appender-ref ref="Async" />
</root>
</log4j:configuration>